<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clarke</title>
</head>
<body>
    <h1>Clarke</h1>
    <a href="https://fotografias.antena3.com/clipping/cmsimages01/2016/09/06/9FC2965A-0123-4AE4-BB73-7F9D9570BD83/98.jpg?crop=953,536,x0,y0&width=1900&height=1069&optimize=high&format=webply">
        <img src="https://fotografias.antena3.com/clipping/cmsimages01/2016/09/06/9FC2965A-0123-4AE4-BB73-7F9D9570BD83/98.jpg?crop=953,536,x0,y0&width=1900&height=1069&optimize=high&format=webply"
        width="500" height="250"
     />
</body>
</html>