<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <h1>Mis Heroes
    </h1>
    <a href="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2020/09/dragon-ball-son-goku-2063605.jpg?itok=mlbQFEUn">
        <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2020/09/dragon-ball-son-goku-2063605.jpg?itok=mlbQFEUn"
        width="500" height="250"
     />
    </a>
</body>
</html>