<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lovelace</title>
</head>
<body>
    <h1>Lovelace</h1>
    <a href="https://es.web.img3.acsta.net/r_1280_720/pictures/210/580/21058010_2013111417195892.jpg">
        <img src="https://es.web.img3.acsta.net/r_1280_720/pictures/210/580/21058010_2013111417195892.jpg"
        width="500" height="500"
     />
</body>
</html>